        <div class="nav-sidebar">
          <div class="nav-sidebar-inner-scroll">
            <div class="nav-sidebar-header">
              <a title="{{ Controller.User().getFirstname() }}'s Dokumente"
                href="{{ Controller.getLink('private:home') }}">
                <img class="avatar avatar-40" src="{{ Controller.User().getAvatarUrl() }}" />
                <div class="nav-sidebar-hideable">{{ Controller.User().getFirstname() }}'s Dokumente</div>
              </a>
            </div>
            <ul class="nav-sidebar-level1">
              {% if Controller.User().getCurrentTenant().isDefault() %}
              <li{% if Page.Current == 'private:home' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('private:home') }}">
                  {{ Config.Icons.Home.getIcon('fa-fw mr-2')|raw }} Startseite
                </a>
              </li>
              <li{% if Page.Current == 'dropzone:main' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('dropzone:main') }}">
                {{ Config.Icons.Drop.getIcon('fa-fw mr-2')|raw }} Dropzone
                </a>
              </li>
              {% else %}
              <li{% if Page.Current == 'tenant:main' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('tenant:main') }}">
                  {{ Config.Icons.Home.getIcon('fa-fw mr-2')|raw }} Dashboard
                </a>
                {% if Page.Current == 'tenant:main' %}
                <ul class="nav-sidebar-level2">
                  <li{% if Page.CurrentSub == 'workflow:inbox' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('workflow:inbox') }}">Aufgaben</a>
                  </li>
                  <li{% if Page.CurrentSub == 'tenant:users' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('tenant:users') }}">Anwender</a>
                  </li>
                  <li{% if Page.CurrentSub == 'tenant:manage' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('tenant:manage') }}">Verwaltung</a>
                  </li>
                </ul>
                {% endif %}
              </li>
              {% endif %}
              <li{% if Page.Current == 'private:files' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('private:files') }}">
                  {{ Config.Icons.Files.getIcon('fa-fw mr-2')|raw }} Dateien
                </a>
                {% if Page.Current == 'private:files' %}
                <ul class="nav-sidebar-level2">
                  <li{% if Page.CurrentSub == 'private:files' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('private:files') }}">Ihre Dateien</a>
                  </li>
                  <li{% if Page.CurrentSub == 'private:categories' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('private:categories') }}">Kategorien</a>
                  </li>
                  <li{% if Page.CurrentSub == 'private:types' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('private:types') }}">Dokumentarten</a>
                  </li>
                </ul>
                {% endif %}
              </li>
              <li{% if Page.Current == 'private:search' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('private:search') }}">
                  {{ Config.Icons.Search.getIcon('fa-fw mr-2')|raw }} Suche
                </a>
              </li>
              <li{% if Page.Current == 'admin:main' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('admin:main') }}">
                {{ Config.Icons.SystemSettings.getIcon('fa-fw mr-2')|raw }} Administration
                </a>
                {% if Page.Current == 'admin:main' %}
                <ul class="nav-sidebar-level2">
                  <li{% if Page.CurrentSub == 'admin:main' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:main') }}">Dashboard</a>
                  </li>
                <li{% if Page.CurrentSub == 'admin:customers' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:customers') }}">Kunden</a>
                  </li>
                  <li{% if Page.CurrentSub == 'admin:tenants' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:tenants') }}">Mandanten</a>
                  </li>
                  <li{% if Page.CurrentSub == 'admin:storage' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:storage') }}">Speicher</a>
                  </li>
                  <li{% if Page.CurrentSub == 'admin:cronjobs' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:cronjobs') }}">Cronjobs</a>
                  </li>
                  <li{% if Page.CurrentSub == 'admin:settings' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:settings') }}">Konfiguration</a>
                  </li>
                  <li{% if Page.CurrentSub == 'admin:logs' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:logs') }}">Server-Logs</a>
                  </li>
                </ul>
                {% endif %}
              </li>
              <a class="sidebar-toggle-nav" role="button" type="button" href="#">
                {{ Config.Icons.DoubleAngleRight.getIcon('fa-fw mr-2 sidebar-toggle-icon-open')|raw }}
                {{ Config.Icons.DoubleAngleLeft.getIcon('fa-fw mr-2 sidebar-toggle-icon-close')|raw }}
                <span class="toggle-text">Ausblenden</span>
              </a>
            </ul>
          </div>
        </div>
